.title-cart{
    margin: auto;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}
.cart-aside{
    flex-basis: 30rem;
    background-color: white;
    height: fit-content;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.cart-aside div{
    width: 100%;
}
.cart-aside-header{
    padding: 1rem;
    border-bottom: 2px solid black;
}
.cart-aside-container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 300;
}
.cart-aside-list{
    display: flex;
    justify-content: space-between;
}

.cart-aside-footer{
    padding: 1rem;
}

.cart-aside-footer > button{
    width: 100%;
    border: none;
    background-color: rgb(117, 117, 204);
    color: white;
    padding: 1rem;
    margin: auto;
    cursor: pointer;
}
.cart-total-amount{
    border-top:2px solid black ;
    border-bottom: 2px solid black;
    font-size: 2rem;
    margin-top: 1rem;
}

.cart-aside-footer > button:hover{
    transform: scale(0.98);
    transition: transform 1s;
    opacity: 0.9;
    /* background-color: var(--cart-button-color) */
}

.cart-banner-stretch{
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
}

.cart-card-horizontal-layout{
    flex-direction: row;
    justify-content: space-around;
    flex: 2;
}

.cart-card-horizontal >.card-img{
    height: 18rem;
    flex: 1;
}

.card-content{
    height: fit-content;
}

.cart-card-footer-flex{
    display: flex;
    flex-grow: 1;
    justify-content: start;
}

.cart-card-footer-flex button:hover{
    transition: transform 1s;
    transform: scale(0.97);
}