
@import url(https://tangent-ui.netlify.app/components/component.css);
@import url(./src/CartPage/CartPage.css);
@import url(./src/Login/login.css);
@import url(./src/SignUp/signup.css);
@import url(./src/ProductListPage/productListPage.css);
@import url(./src/WishListPage/wishlistpage.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
:root{
    --bg-color:rgb(249 250 251);
    --container-bg-color: #f1f3f3;
    --banner-bg-color:#d4d9dd;
    --cart-button-color : rgb(53, 53, 80);
    --border-radius:7px;
    --shadow-bg :#f2f2f2;

    --footer-bg-color:rgb(59, 59, 59);
    --pink-bg-color:#ffe0e5;
    --text-color:#27474e;
}
body::-webkit-scrollbar{
    width: 1rem;
}
body::-webkit-scrollbar-track{
    background-color: var(--shade-1);
}
body::-webkit-scrollbar-thumb{
    background-color: var(--btn-text-color-2);
    border-radius: 1rem;
    border: 3px solid  var(--shade-1);
}

body::-webkit-scrollbar:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.navbar{
    background-color: white;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 1rem;
}

/* .navbar .project-title{
    margin: 1rem;
    text-decoration: none;
    font-size: 3rem;
    font-weight: 700;
    color: rgb(25, 1, 44);
} */

.navbar-action{
    display: flex;
    justify-content: space-evenly;
    /* width: 20%; */
    width: fit-content;
    align-items: center;
}

.navbar-action a{
    text-decoration: none;
}
.navbar-action a:hover{
    transform: scale(1.1);
    opacity: 1.1;
}

.container{
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* search bar */

.input-icons span {
    position: absolute;
}
  
.input-icons {
    width: 30%;
    margin-bottom: 10px;
    margin: 0.5rem ;
    min-width: 20rem;
}
  
.icon {
    padding: 10px;
    color: green;
    min-width: 50px;
    text-align: center;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 7px;
}

.btn-login{
    border: none;
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    background-color: transparent;
    text-decoration: none; 
    color: var(--text-color);
}

.badge-container {
    margin: 1rem;
}

/*  Home page  */
.img-slide{
    height: 17rem;
    width: 22rem;
    padding:0.5rem;
}

.list-img-slider{
    display: block;
    position: relative; 
}

.underlist-img-slider{
    overflow-x: hidden;
    width: 95vw;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.underlist-img-slider::-webkit-scrollbar{
    width: 1rem;
}
.underlist-img-slider::-webkit-scrollbar-track{
    background-color: var(--shade-1);
}
.underlist-img-slider::-webkit-scrollbar-thumb{
    background-color: var(--btn-text-color-2);
    border-radius: 1rem;
    border: 3px solid  var(--shade-1);
}

.underlist-img-slider::-webkit-scrollbar :hover{
    transform: scale(1.2);
    cursor: pointer;
}


.overlay-img-slider{
    position: absolute;
    top: 50%;
    /* left: 50%; */
    background-color: white;
    /* width: 100%; */
    z-index: 9999;
    left: 0;
    width: -webkit-fill-available;
    justify-content: center;
    display: flex;
    opacity: 0.7;
}

.home-container-main-1{
    height: fit-content;
    width: 90%;
    background-color: var(--container-bg-color);
    margin-top: 2rem;
    position: relative;
}

.product-check-navigator{
    text-decoration: none;
    position: absolute;
    top: 4rem;
    left: 2rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    font-size: 2rem;
    background-color: var(--pink-bg-color);
    color: var(--text-color);
}

.product-check-navigator:hover{
    transform: scale(0.9) 2s;
    opacity: 0.83;
}

.container-img{
    width: 100%;
    height: auto;
    object-fit: contain;
    cursor: pointer;
}

/* banner */

.banner-collection{
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.banner{
    display: flex;
    width: 40%;
    /* height: 20em; */
    min-width: 32rem;
    background-color: var(--banner-bg-color);
    margin: 1rem;
    flex-grow: 1;
    padding: 1rem;
    cursor: pointer;
}

.banner:hover{
    transform: scale(1.01);
    opacity: 0.9;
}

.banner-img{
    width: 15rem;
    height: auto;
    padding :1rem;
}

.banner-tag{
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: red;
    font-weight: 500;
}

.banner-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* padding: 2rem 1rem; */
    gap: 3rem;
}

.banner-content{
    display: flex;
    flex-direction: column;
}

.banner-content > h1{
    font-weight: 700;
    font-size: 2.5rem;
    /* line-height: 4.2rem; */
}

.banner-content-desc{
    font-size: 1.5rem;
    /* line-height: 2.7rem; */
}

.text-linethrough{
    color: red;
}

/* footer */
footer{
    display: flex;
    flex-direction: column;
    background-color: #27474e;
    background-color: var(--footer-bg-color);
    color: #d4d9dd;
}

.footer-container{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    flex-wrap: wrap;
    padding: 1rem;
}

.footer-container *{
    flex-grow: 1;
}

.footer-container div{
    padding: 1rem;
}

.footer-container ul{
    padding: 1rem;
}

.list-body-item:hover{
    transform: scale(1.01);
    opacity: 1.1;
    background-color: rgba( var(--footer-bg-color),0.8) ;
}

.title-logo{
    height: 6rem;
    width: 9rem;
    border-radius: 50%;
}

.footer-base{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    flex-wrap: wrap;
}

.footer-base-content{
    display: flex;
    justify-content: flex-end;
}

/* auto slide */

@keyframes framerateslideplay {
    0% {left: 100%}
    4% {left: 0%}
    33.33% {left: 0%}
    37.33% {left: -100%}
    100% {left: -100%}
  }


.listImgSlide {
    height: 20rem;
    width: 22rem;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}
.listImgSlide > * {
    position: absolute; 
    left: 100%; 
    top: 0;
    animation: 12s framerateslideplay infinite ease-in-out
}

.listImgSlide > *:nth-child(1) {animation-delay: 0s}
.listImgSlide > *:nth-child(2) {animation-delay: 4s}
.listImgSlide > *:nth-child(3) {animation-delay: 8s}

