
@import url(https://tangent-ui.netlify.app/components/component.css);
@import url(./src/Login/login.css);
@import url(./src/SignUp/signup.css);
@import url(./src/ProductListPage/productListPage.css);
@import url(./src/WishListPage/wishlistpage.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
:root{
    --bg-color:rgb(249 250 251);
    --container-bg-color: #f1f3f3;
    --banner-bg-color:#d4d9dd;

    --border-radius:7px;
}
.navbar{
    background-color: white;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
}

.navbar .project-title{
    margin: 1rem;
}

.navbar-action{
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}


.container{
    height: 100vh;
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

/* search bar */

.input-icons span {
    position: absolute;
}
  
.input-icons {
    width: 30%;
    margin-bottom: 10px;
    margin: 0.5rem ;
}
  
.icon {
    padding: 10px;
    color: green;
    min-width: 50px;
    text-align: center;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 7px;
}

.btn-login{
    border: none;
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
}

.badge-container {
    margin: 1rem;
}

/*  Home page  */
.img-slide{
    height: 15rem;
    width: 22rem;
    padding:1rem;
}

.list-img-slider{
    display: block;
    position: relative; 
}

.underlist-img-slider{
    overflow-x: scroll;
    width: 95vw;
    height: fit-content;
    display: flex;
}

.overlay-img-slider{
    position: absolute;
    top: 50%;
    /* left: 50%; */
    background-color: white;
    /* width: 100%; */
    z-index: 9999;
    left: 0;
    width: -webkit-fill-available;
    justify-content: center;
    display: flex;

}

.home-conatainer-1{
    height: fit-content;
    width: 90%;
    background-color: var(--container-bg-color);
    margin-top: 2rem;
}

.container-img{
    width: 100%;
    height: auto;
    object-fit: contain;
    cursor: pointer;
}

/* banner */

.banner-collection{
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.banner{
    display: flex;
    width: 40%;
    /* height: 20em; */
    min-width: 32rem;
    background-color: var(--banner-bg-color);
    margin: 1rem;
    flex-grow: 1;
padding: 1rem;
cursor: pointer;
}

.banner-img{
    width: 15rem;
    height: auto;
    padding :1rem;
}

.banner-tag{
    font-size: 1.8rem;
    line-height: 2.7rem;
}

.banner-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* padding: 2rem 1rem; */
    gap: 3rem;
}

.banner-content{
    display: flex;
    flex-direction: column;
}

.banner-content > h1{
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 4.2rem;
}

.banner-content-desc{
    font-size: 1.8rem;
    line-height: 2.7rem;
}