.product-page-container{
    display: flex;
    flex-wrap: wrap;

}

.aside{
    flex-basis: 27rem;
    background-color: var(--shadow-bg);
    /* height: 100vh;
    display: flex;
    flex-direction: column; 
    margin: auto; */
}

.main{
    flex-grow: 1;
    flex-basis: 300px;
    background-color: transparent;
}

.price-slider{
    transition: .2s;
    color: aqua;
}
label{
    /* display: block; */
    font-size: 1.5rem;
    font-weight: 500;
}

.product-page-category input{
    padding: 1rem;
    margin-left: 10px;
}

.product-page-category div{
    padding: 0.5rem;
}

.aside-header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.price-container{
    padding:1rem;
}

.product-page-category{
    padding: 1rem;
}
.rating-container{
    padding: 1rem;
}

.rating-container div{
    padding: 0.5rem;
}

.sort-by-conatianer{
    padding: 1rem;
}

.sort-by-conatianer div{
    padding: 0.5rem;
}

.product-main-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.toggler{
    cursor: pointer;
    margin-left: 86%;
    font-weight: 600;
    font-size: 3rem;
    background-color: transparent;
    padding: 3px;
    border-radius: 10%;
}

.filter-btn{
    cursor: pointer;
    padding: 1rem;
    font-weight: 2rem;
    width: 50vw;
    display: block;
    margin-top: 2rem;
    background-color: #e7edef;
    color: black;
    font-size: 2rem;
    display: flex;
    text-align: center;
    font-weight: 700;
    justify-content: center;
    gap: 1rem;
}

.filter-btn:hover{
    transform: scale(1.1);
    opacity: 1.1;
}
@media screen and (max-width: 800px) {
    aside{
        border: 1px solid black;
        flex-basis: 15rem;
        min-width: 65vw;
        border-top: 2px solid black;
        height: 100%;
        width: 0;
        z-index: 1;
        /* top: 27%; */
        left: 20%;
        background-color: white;
        transition: 0.5s;
        position: absolute;
        height: 65vh;
        overflow: scroll;
        /* margin: auto;*/
    }
}