.login-body-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;   
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    width: 50vw;
    height: 70vh;
    box-shadow: 0 0 5px 0 #e0e5e5;
    border-radius: var(--border-radius);
    font-size: 1.5rem;
    padding: 2rem 0;
}

.login-credential-container{
    width: 70%;
}
.login-credential-container > input{
    width: 100%;
    padding: 0.7rem;
}


.login-credential-container > label{
    font-weight: 500;
}


.login-rem-forgetpass-container
{
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.login-action-btn   {
    display:block;
    font-size: 2rem;
}

.login-btn-container{
    width:70%   
}

.title-header{
    font-size: 3rem;
    font-weight: 700;
}

.login-footer{
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: space-evenly;
}